name: Deploy Frontend

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build test image
        run: docker build -t perdita997/react-test -f Dockerfile.dev .

      - name: Run tests
        run: docker run -e CI=true perdita997/react-test npm test -- --coverage --watchAll=false